---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: db
  namespace: default
spec:
  encryptedData:
    db: AgCe/yulS8e+WjU8Ru424INM6l6p35pFF8Tv2f9ZnWG8iD/E9azF1QZ0LlkV3zAa5IC5H9Ev4E2wNVnkUTsnVF8imcTyC6btb8ZMbqOEnMwVts5BP7Ez2hfsycqEUnglyFUyRmYnFLcK6xKDxif2kfAqwKh6yYS03+XVnJlF+zlAQm8VseuFebVg32odq0eFIP+uSK/FSPoQ9f43lJf9RAsFtH73GTbBkAh+owmojkEDX4mDh5bHv5eZDhUJZdXcn0hlRQxMTLuCw1zwZ7ELwXmxX9G+XURm39Zdr6BrcL2D61cnp6GCtCLQnwNaFqB9YeymbF+ntNVcaqkX3tVv3nmWA5e+MLQYkFkuirnpqf7RqPxEff4KwoypJrye8oux3JNzXNxGA3tCx3Wnd7V0D8B5NO5RgK7HeXbHadBVGdVm2CF254TqwKyQmzMWrvjNnPTU0NCTFlZ7ZFsYoIBltLGZpa8tnZIaLmyBEuH0bqm3enrsfdz1BImDGoIdMeVuOOJaehxuwTesgeZCP/FVFtDqHG2P59CjsgrjSAxh3wnP32muqOCdFMr5HOtwcvuSuaFBwHm/KadUB38B4s7Pqep/z+Wk5NhyyDtjUFEwCShiT6po7O3UGDUQDC7hrCjc+JdYnRGBztrSoGAVljZuAT5cQdbtlr8gc3uTEBnMZH57ZM9NeCW6gjYA6RB2W1W5XaTyG18NeQ==
    name: AgCjSrwSZvG5++phSqjsA0WM1VIIUNPrvHUp3tC+7SSEGW5Y9pyhoffmyQ0T+2QC34Y9V5WUSZVeEHxmSAQutXe/VuRMqJj9ryavtdrPuAchR5he4adpTndEfzmU4SHTWFO94kEdPPn0IqS0bHlx508O05AUuDSF/do7fMS7rxQBnIkDnIVa9HwmsoQSGeCk1/mNilWHOOTR2i9T8ANkNNWM9zYq7W1ez4c86JacRRDtgIurPMqmQ8hCCV5+di4AjdEsH0R0CGSaR1DlUpz4PvS7sM7Q76H2J2+w1uHZsRKYiU0ez8Ep/tfsdCGnyn+aOH68LS77ij3/Eva+XAvR1A9/zD1EETJS7LLz8LN78Tz9Vvl8lyJWJvsub3Y5/ipvGtutMMtJxQjtgNW4xJGuLCbWi3hD6Fbjvjr49B1eH19TNWtWMLWIOoniRH/PiZDasGBmtHplrJgwbuDxc+33rvQvTgBi0jHuyVFNRmcuCTArDb6z1XPxWrgYcfN2xYAFFEKMq17irlYqrS7Wwl0Q8PRRkvSD3QJWQ2OrKOOYbhVCr+neYu4i3hdqCSG5fbQXWEImS+fIazSNb/pcEVt680JL1zEt4qOrQy0QXh27AjWfTk4zWCPS+Prp/7AdAnSps7KB583h6g1qMDGEZSGABiy9e2B5d9OgTTjke4kYqgsyOaJpxVx31xeYWLQeK+R+zTh2QnQvneA=
  template:
    metadata:
      name: db
      namespace: default
    type: Opaque
